:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  color: #f5f5f5;
  min-height: 100vh;
}

